src/main/resources/ws/echo-ws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ln.org/spring/ws/echo" xmlns:tns="http://ln.org/spring/ws/echo"
	elementFormDefault="qualified">

	<xs:element name="sayEchoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sayEchoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>